[submodule "ganymede-declarativewidgets"]
	path = ganymede-declarativewidgets
	url = https://github.com/hackingmoon/ganymede-declarativewidgets.git
[submodule "ganymede-declarativewidgets_explorer"]
	path = ganymede-declarativewidgets_explorer
	url = https://github.com/hackingmoon/ganymede-declarativewidgets_explorer.git
