[submodule "jupyter-declarativewidgets"]
	path = jupyter-declarativewidgets
	url = https://github.com/userzimmermann/declarativewidgets.git
[submodule "jupyter-declarativewidgets_explorer"]
	path = jupyter-declarativewidgets_explorer
	url = https://github.com/userzimmermann/declarativewidgets_explorer.git
