[submodule "jupyter-declarativewidgets"]
	path = jupyter-declarativewidgets
	url = git@github.com:userzimmermann/declarativewidgets.git
[submodule "jupyter-declarativewidgets_explorer"]
	path = jupyter-declarativewidgets_explorer
	url = git@github.com:userzimmermann/declarativewidgets_explorer.git
