include COPYING

include README.rst
include README.md
include CHANGES.md

include requirements.txt
exclude requirements.dev.txt

exclude *.ipynb
exclude *.svg

recursive-include ganymede/static *.svg *.css *.js
recursive-exclude ganymede/static *.coffee
