IPython >= 5.8.0
ipywidgets ~= 6.0
lxml >= 4.4.1
moretools >= 0.1.12
morepy >= 0.1.0
nodely >= 0.4.0
pandas >= 0.20
#py2 path.py ~= 11.5.0 #import path
#py3 path.py >= 11.5.0 #import path
widgetsnbextension ~= 2.0
zetup >= 0.2.64
